@model List<Educacion.BL.Estudiantes>
@{
    ViewBag.Title = "Index";
}

<h2>Lista de Estudiantes</h2>


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
        </tr>


    </thead>
    @foreach (var estudiantes in Model)
    {
        <tr>
            <td>@estudiantes.Id  </td>
            <td>@estudiantes.Nombre  </td>
            <td>@estudiantes.Direccion  </td>
            <td>@estudiantes.Telefono  </td>
        </tr>
    }


</table>